/* To do: Make it responsive, mobile friendly */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@font-face {
    font-family: 'Font-Bold';
    src: url("/fonts/Basic-Font-Bold.woff2");
}

@font-face {
    font-family: 'Font-Regular';
    src: url("/fonts/Basic-Font-Regular.woff2");
}

/* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
} */

html {
    font-size: 16px;
    letter-spacing: -0.032em;
    line-height: 1.47059;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Font-Regular', 'Source Sans Pro', sans-serif;
    font-style: normal;
    background-color: #000;
    background-size: cover;
}

body,
p,
a,
h4,
h3 {
    color: #fff;
}

section {
    position: relative;
    display: block;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 50%; /*center*/
    transform: translate(-50%, -50%);
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.centered-div {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    padding-top: 0;
    font-weight: 900;
    margin: 50px 20px;
}

h2 {
    font-size: 1.7rem;
    padding: 5px;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    padding: 0;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

#index {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

.button {
    display: block;
    background-color: #fff;
    text-align: center;
    color: #000;
    padding: 5px 10px 5px 10px;
    margin: 60px auto;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
   color: #777;
   box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
}

/* Header */

/* Navigation */

header {
    height: 60px;
    background-color: #141313;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.menu-icon {
    display: none;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.menu-icon:hover {
    opacity: 0.8;
}

.menu-icon:active {
    background-color: #222222;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    
}

.menu a:active {
    background-color: #222222;
    
}

/* Section */

/* Portfolio */

#portfolio {
    
    display: flex;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    transition: all 0.2s linear;
}

#portfolio > a {
    font-weight: 700;
    display: flex;
    border: solid white 5px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    color: #3f88c5;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 10px;
    box-sizing: border-box;
}

#portfolio a:hover {
    /* border: solid white 10px; */
    margin-top: 25px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#cryptoviewer {
    background-size: cover;
    background-image: url("/images/cryptoviewer.png");
}

#prowin {
    background-size: cover;
    background-image: url("/images/prowin.jpg");
}

#phonelock {
    background-size: cover;
    background-image: url("/images/Cryptofreak.png");
}

#vanderlust {
    background-color: #72a8d5;
}

#wordsmith {
    background-color: antiquewhite;
}

.effect div {
    border-radius: 20px;
    padding: 8px 20px;
    background-color: #fff;
    opacity: 1;
}

.effect:hover div {
    opacity: 0.35;
}

/* Contact form*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font-size: 1rem;
    font-family: 'Font-Bold', 'Source Sans Pro', sans-serif;
  }
  
  #contact {
    display: flexbox;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
  }
  
  fieldset {
    display: flex;
    justify-content: center;
    border: medium none !important;
    width: 100%;
    max-width: 500px;
    padding: 0;
    margin: 10px 0 25px 0;
    border: 1px solid black;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
      font-size: 1rem;
    font-weight: 400;
    min-width: 250px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #FFF;
    margin: 0 auto;
    padding: 11px;
    font-family: 'Font-Regular', 'Source Sans Pro', sans-serif;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  #contact textarea {
    border: none;
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    background-color: #FFF;
    width: 30%;
    color:#000;
    margin: 0 auto;
    border-radius: 50px;
    border: none;
    text-align: center;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  #contact button[type="submit"]:hover {
    color: #777;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: none;
    background: hsl(160, 60%, 99%);
  }
  
  ::-webkit-input-placeholder {
    color: silver;
  }
  
  :-moz-placeholder {
    color: silver;
  }
  
  ::-moz-placeholder {
    color: silver;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

  /* Contact form End */

  /* Social Container */
.social i {
    padding: 4px;
}

/* ShortenURL begin */

#main > .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main #form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 30%;
    border: 1px solid;
}

#main #form #input {
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0;
    padding-left: 10px;
    justify-content: center;
    
}

#main #form #shorten {
    justify-content: center;
    padding-bottom: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0;
    width: 200px;
    height: 50px;
} 

#main .container #responseField {
    color: #fff;
    min-width: 30%;
    border-radius: 5px;
    justify-content: center;
}
.stag {
    display: flex;
    justify-content: center;
    text-align: center;
}
.the-stag {
    text-align: center;
    width: 400px;
}

/* ShortenURL end */

@media screen and (max-width: 768px) {

    h1 {
        padding: 0;
        margin: 70px 0 0 0;
    }


    header {
        padding: 0;
    }

    section {
        margin-top: 3vh;
    }
        .menu-icon {
            display: block;
            margin-left: auto;
            /* Move to the right */
        }
    
        .menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0px;
            left: 0;
            right: 80px;
            background-color: #313131;
            padding: 0;
            overflow: hidden;
        }
    
        .menu.show {
            max-height: 100vh;
        }
    
        .menu li {
            margin: 10px 0;
        }
    
        .menu a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 5px 100px 5px 100px;
        }

        .menu a:active {
            padding: 5px 100px 5px 100px;
        }
        #social {
            visibility: hidden ;
        }
    }


