html {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
h1,p {
    margin-top: 0;
    text-align: center;
}

fieldset {
    border: solid 4px #FF9900;
    border-radius: 10px;
    padding: 20px;
}

#container {
    max-width: 800px;
    min-width: 400px;
    display: flexbox;
    align-content: center;
    margin: 0 auto;
}

#input, #console {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 80px;
    resize: none;
    outline: none;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #FF9900;
  }

#button {
    font-size: 1.5em;
    padding: 10px;
    color: #fff;
    background-color: #FF9900;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  #button:active {
    background-color: darkorange;
  }